Repository MakersPlace/ai_or_not: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, mypy, autoflake, nbqa-black, nbqa-pyupgrade, nbqa-isort, jupyter-nb-clear-output

.pre-commit-config.yaml:

# .pre-commit-config.yaml
# Excluding auto generated code from pre-commit checks
exclude: ".*server_pb2.*"
repos:
  - repo: local
    hooks:
      - id: isort
        name: iSort (python)
        entry: isort --force-single-line-imports --line-length 120 --profile black .
        types: [python]
        stages: [commit]
        language: python
  - repo: local
    hooks:
      - id: black
        name: Black (python)
        language_version: python3.10
        entry: black --line-length 120 .
        types: [python]
        stages: [commit]
        language: python
  - repo: local
    hooks:
      - id: mypy
        name: Mypy (python)
        types: [python]
        stages: [commit]
        language: python
        entry: bash -c 'mypy --show-error-codes --ignore-missing-imports --follow-imports skip --exclude finder/pipelines/ --exclude playground/ --exclude finder/service/protos/ --exclude finder/cicd/ --exclude lib/ .'
  - repo: local
    hooks:
      - id: autoflake
        name: Autoflake (python)
        types: [python]
        stages: [commit]
        language: python
        entry: bash -c 'autoflake --in-place --remove-duplicate-keys --remove-all-unused-imports --remove-unused-variables --recursive .'
  - repo: local
    hooks:
      - id: nbqa-black
        name: Notebook Black formatter
        entry: nbqa black --line-length=120 .
        language: python
        types: [python]
        stages: [commit]
      - id: nbqa-pyupgrade
        name: Notebook Python 3.7 syntax formatter
        entry: nbqa pyupgrade .
        language: python
        types: [python]
        stages: [commit]
      - id: nbqa-isort
        name: Notebook isort
        entry: nbqa isort --float-to-top --line-length=120 .
        language: python
        types: [python]
  - repo: local
    hooks:
      - id: jupyter-nb-clear-output
        name: jupyter-nb-clear-output
        files: \.ipynb$
        stages: [commit]
        language: system
        entry: jupyter-nbconvert --ClearOutputPreprocessor.enabled=True --inplace

Update README.md
  README.md
Due: none

Refactored code
  dev_environment.yml
  notebooks/app.py
  notebooks/demo_gradio_app.ipynb
  notebooks/examples/1-1900923-254510.jpg
  notebooks/examples/1-1900923-343813.jpg
  notebooks/examples/a-y-jackson_a-copse-evening-1918.jpg
  notebooks/examples/a-y-jackson_skeena-crossing-1926.jpg
  notebooks/hf_upload_model.ipynb
  notebooks/requirements.txt
  requirements.txt
  training_pipeline/config.py
  training_pipeline/data_generator.py
  training_pipeline/data_processing/data_loader.py
  training_pipeline/data_processing/evaluate_model.py
  training_pipeline/data_processing/layers/jpeg_compression.py
  training_pipeline/data_processing/layers/median_filter.py
  training_pipeline/layers/auto_correlation.py
  training_pipeline/layers/denoiser.py
  training_pipeline/layers/fourier_transforms.py
  training_pipeline/models/base_model.py
  training_pipeline/models/convnext.py
  training_pipeline/models/dual_branch_classifier.py
  training_pipeline/models/dual_ensemble_classifier.py
  training_pipeline/models/invisible_features_classifier.py
  training_pipeline/models/noise_residual_classifier.py
  training_pipeline/models/triple_branch_classifier.py
  training_pipeline/models/visible_features_classifier.py
  training_pipeline/pipeline.py
  training_pipeline/requirements-linting.txt
  training_pipeline/requirements.txt
  training_pipeline/train.py
Due: isort, black, mypy, autoflake, nbqa-black, nbqa-pyupgrade, nbqa-isort, jupyter-nb-clear-output

Local Test Run Successfull with 2.16.1
  config.py
  dev_environment.yml
  models/efficientnet_v2.py
Due: isort, black, mypy, autoflake, nbqa-black, nbqa-pyupgrade, nbqa-isort

WANDB API Key id moved from python to environment variable
  training_pipeline/config.py
  training_pipeline/pipeline.py
Due: isort, black, mypy, autoflake, nbqa-black, nbqa-pyupgrade, nbqa-isort

Linting changes
  notebooks/app.py
  notebooks/demo_gradio_app.ipynb
  notebooks/execute_model_on_folder.ipynb
  notebooks/hf_upload_gradio_app.ipynb
  notebooks/hf_upload_model.ipynb
  training_pipeline/config.py
  training_pipeline/data_generator.py
  training_pipeline/data_processing/evaluate_model.py
  training_pipeline/pipeline.py
  training_pipeline/train.py
Due: isort, black, mypy, autoflake, nbqa-black, nbqa-pyupgrade, nbqa-isort, jupyter-nb-clear-output

Fixed mid Midjourney test dataset issue by downsampling the test images to 20%
  README.md
  training_pipeline/config.py
  training_pipeline/data_generator.py
  training_pipeline/pipeline.py
Due: isort, black, mypy, autoflake, nbqa-black, nbqa-pyupgrade, nbqa-isort

Added old notebooks
  .pre-commit-config.yaml
  dev_environment.yml
  notebooks/misc/analysis/download_datasets.ipynb
  notebooks/misc/analysis/frequency_analysis.ipynb
  notebooks/misc/analysis/midjourney_download.py
  notebooks/misc/analysis/native_dataset_evaluation.ipynb
  notebooks/misc/analysis/s3_image_download.ipynb
  notebooks/misc/s3_dataset_test.ipynb
  notebooks/misc/web_dataset_generator.ipynb
Due: isort, black, mypy, autoflake, nbqa-black, nbqa-pyupgrade, nbqa-isort, jupyter-nb-clear-output

Added past notebooks 2
  .pre-commit-config.yaml
  notebooks/misc/eff-multi-label-classifier.ipynb
  notebooks/misc/frequency-spectrum-classifier.ipynb
  notebooks/misc/real-vs-fake-image-classifier.ipynb
Due: jupyter-nb-clear-output

Redirected training outputs to pipeline folder
  .pre-commit-config.yaml
  notebooks/misc/eff-multi-label-classifier.ipynb
  notebooks/misc/frequency-spectrum-classifier.ipynb
  notebooks/misc/real-vs-fake-image-classifier.ipynb
  training_pipeline/config.py
  training_pipeline/data_generator.py
  training_pipeline/pipeline.py
Due: isort, black, mypy, autoflake, nbqa-black, nbqa-pyupgrade, nbqa-isort, jupyter-nb-clear-output

Made default bucket prefix as pipeline name
  training_pipeline/config.py
  training_pipeline/pipeline.py
Due: isort, black, mypy, autoflake, nbqa-black, nbqa-pyupgrade, nbqa-isort

Removed OUTPUT_PATH parameter
  training_pipeline/config.py
Due: isort, black, mypy, autoflake, nbqa-black, nbqa-pyupgrade, nbqa-isort

Changed to 32GB instance for data generation and upgraded tf-io to 0.37.1
  dev_environment.yml
  training_pipeline/data_generator.py
  training_pipeline/pipeline.py
  training_pipeline/requirements.txt
Due: isort, black, mypy, autoflake, nbqa-black, nbqa-pyupgrade, nbqa-isort

Reverted to tf-io 0.33
  training_pipeline/requirements.txt
Due: none

Increased volume size to 1TB for pipeline steps
  dev_environment.yml
  training_pipeline/config.py
  training_pipeline/data_generator.py
  training_pipeline/pipeline.py
Due: isort, black, mypy, autoflake, nbqa-black, nbqa-pyupgrade, nbqa-isort

Added sample code to test the model
  README.md
  notebooks/app.py
  notebooks/hf_upload_gradio_app.ipynb
  notebooks/hf_upload_model.ipynb
  notebooks/test_script.py
Due: isort, black, mypy, autoflake, nbqa-black, nbqa-pyupgrade, nbqa-isort, jupyter-nb-clear-output

Added Evaluation details
  README.md
Due: none

Removed S3 bucket references
  README.md
  notebooks/misc/analysis/s3_image_download.ipynb
  notebooks/misc/s3_dataset_test.ipynb
  notebooks/misc/web_dataset_generator.ipynb
  training_pipeline/config.py
Due: isort, black, mypy, autoflake, nbqa-black, nbqa-pyupgrade, nbqa-isort, jupyter-nb-clear-output

TYpos
  README.md
Due: none

Updated readme
  README.md
Due: none

Updated limitations
  README.md
Due: none

Simlpified paths
  training_pipeline/config.py
  training_pipeline/data_generator.py
  training_pipeline/data_processing/data_loader.py
  training_pipeline/data_processing/evaluate_model.py
  training_pipeline/data_processing/layers/jpeg_compression.py
  training_pipeline/models/base_model.py
  training_pipeline/pipeline.py
  training_pipeline/train.py
Due: isort, black, mypy, autoflake, nbqa-black, nbqa-pyupgrade, nbqa-isort

Removed HF token
  notebooks/misc/analysis/download_datasets.ipynb
  training_pipeline/pipeline.py
Due: isort, black, mypy, autoflake, nbqa-black, nbqa-pyupgrade, nbqa-isort, jupyter-nb-clear-output

CLeaned up Convnet class
  training_pipeline/config.py
  training_pipeline/models/convnext.py
  training_pipeline/models/visible_features_classifier.py
  training_pipeline/pipeline.py
Due: isort, black, mypy, autoflake, nbqa-black, nbqa-pyupgrade, nbqa-isort

Added clip model
  notebooks/clip_model.ipynb
  training_pipeline/config.py
  training_pipeline/models/base_model.py
  training_pipeline/models/clip.py
  training_pipeline/train.py
Due: isort, black, mypy, autoflake, nbqa-black, nbqa-pyupgrade, nbqa-isort, jupyter-nb-clear-output

Added transformers to requirements file
  notebooks/clip_model.ipynb
  training_pipeline/requirements.txt
Due: jupyter-nb-clear-output

Config changes
  training_pipeline/config.py
Due: isort, black, mypy, autoflake, nbqa-black, nbqa-pyupgrade, nbqa-isort
